APScheduler==3.6.3 # python-telegram-bot depends on this version
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
cryptography==3.4.8
cssselect==1.1.0
decorator==5.0.9
idna==3.2
lxml==4.6.3
pycparser==2.20
python-telegram-bot==13.7
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
six==1.16.0
tornado==6.1
tzlocal==3.0
urllib3==1.26.6